{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block css %}
        <link rel="stylesheet" href="{% static 'nyancat/css/main.css' %}">
        {% endblock css %}
        {% block js %}
        <script src="{% static 'nyancat/js/youtube-player.js' %}"></script>
        {% endblock js %}
    </head>
    <body>
        {% block content %}
        {% endblock content %}
{% block page_bottom %}
<script type="text/javascript">
window.onload = InsertPlayers;
</script>
{% endblock page_bottom %}
    </body>
</html>
