<h1>{% if is_owner %}Your {% endif %}Videos</h1>


{% if messages %}
<ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
</ul>
{% endif %}

<ul>
    {% for video in video_list %}
    <li><a href="{{ video.get_youtube_url }}">Video {{ forloop.counter }}</a></li>
    {% empty %}
        <li>No videos here.</li>
    {% endfor %}
</ul>

{% if is_owner %}
<a href="{% url 'nyancat:add_video' %}">Add video</a>
<a href="{% url 'nyancat:remove_videos' %}">Remove videos</a>
<a href="{% url 'nyancat:update_person' %}">Update profile</a>
{% endif %}
