{% extends 'nyancat/base.html' %}
{% load i18n %}

{% block content %}
<h2>{% trans 'Remove videos' %}</h2>
<p>{% trans 'Select videos to remove.' %}</p>

<form action="" method="POST">{% csrf_token %}
<ul>
    {% for video in video_list %}

    <div class="youtube-container">
    <div class="youtube-player" data-id="{{ video.url }}"></div>
    </div>
    <input type="checkbox" name="to_remove" value="{{ video.id }}"/></li>
    {% empty %}
    <p>{% trans 'No videos here' %}.</p>
    {% endfor %}
</ul>
<input type="submit" value="{% trans 'Remove' %}" />
</form>
{% endblock content %}
